In [2]:
import pandas as pd

DATA_FILE = "NationalNames.csv"

df = pd.read_csv(DATA_FILE)

**1. Вивести перші 8 рядків набору даних**

In [3]:
df.head(8)

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746
5   6   Margaret  1880      F   1578
6   7        Ida  1880      F   1472
7   8      Alice  1880      F   1414

**2. Вивести останні 8 рядків набору даних**

In [4]:
df.tail(8)

              Id     Name  Year Gender  Count
1825425  1825426       Zo  2014      M      5
1825426  1825427    Zyeir  2014      M      5
1825427  1825428     Zyel  2014      M      5
1825428  1825429   Zykeem  2014      M      5
1825429  1825430   Zymeer  2014      M      5
1825430  1825431  Zymiere  2014      M      5
1825431  1825432    Zyran  2014      M      5
1825432  1825433    Zyrin  2014      M      5

**3. Отримати імена стовпців набору даних**

In [5]:
column_names = df.columns
print("Імена стовпців:", column_names.tolist())

Імена стовпців: ['Id', 'Name', 'Year', 'Gender', 'Count']

**5. Знайти кількість унікальних імен у наборі даних**

In [6]:
unique_names_count = df["Name"].nunique()
print("Кількість унікальних імен у наборі:", unique_names_count)

Кількість унікальних імен у наборі: 93889

**10. Підрахувати кількість унікальних імен у кожному році**

In [7]:
unique_per_year = df.groupby("Year")["Name"].nunique()
print("Кількість унікальних імен по роках:")
print(unique_per_year)

Кількість унікальних імен по роках:
Year
1880     1889
1881     1830
1882     2012
1883     1962
1884     2158
        ...
2010    31603
2011    31418
2012    31236
2013    30774
2014    30579
Name: Name, Length: 135, dtype: int64

**11. Знайти рік із найбільшою кількістю унікальних імен**

In [8]:
year_with_max_unique = unique_per_year.idxmax()
max_unique_count = unique_per_year.max()

print(f"Рік із найбільшою кількістю унікальних імен: {year_with_max_unique}")
print(f"Кількість унікальних імен у цьому році: {max_unique_count}")

Рік із найбільшою кількістю унікальних імен: 2008
Кількість унікальних імен у цьому році: 32488

**12. Знайти найпопулярніше ім’я в році з найбільшою кількістю унікальних імен**

In [9]:
target_year = year_with_max_unique

df_target_year = df[df["Year"] == target_year]

name_counts = df_target_year.groupby("Name")["Count"].sum()

most_popular_name = name_counts.idxmax()
most_popular_count = name_counts.max()

print(f"Найпопулярніше ім’я в {target_year} році: {most_popular_name}")
print(f"Кількість народжень (за сумою у полі 'Count'): {most_popular_count}")

Найпопулярніше ім’я в 2008 році: Jacob
Кількість народжень (за сумою у полі 'Count'): 22597